extends assets/layout

block content
  div.flex.justify-evenly.ml-auto.py-8(class='sm:w-1_4 lg:w-1_6')
    if (isAuth == true)
      a.homeBtn.text-emerald-600.border-emerald-600(class="hover:bg-emerald-700 dark:text-emerald-200 dark:border-emerald-200 dark:hover:bg-emerald-700 dark:hover:text-slate-100 dark:hover:border-emerald-300" href="/overview") Dashboard
      a.homeBtn.text-violet-600.border-violet-500(class="hover:bg-violet-600 dark:text-violet-200 dark:border-violet-200 dark:hover:bg-violet-700 dark:hover:text-slate-100 dark:hover:border-violet-300" href='/logout') Logout
    else
      a.homeBtn.text-violet-600.border-violet-500(class="hover:bg-violet-600 dark:text-violet-200 dark:border-violet-200 dark:hover:bg-violet-700 dark:hover:text-slate-100 dark:hover:border-violet-300" href='/login') Login
      a.homeBtn.text-blue-600.border-blue-500(class="hover:bg-blue-600 dark:text-blue-200 dark:border-blue-200 dark:hover:bg-blue-700 dark:hover:text-slate-100 dark:hover:border-blue-300" href='/register') Register
  br
  div.container.mx-auto.py-8.px-16
    h2.text-xl.font-semibold.py-2 What does it do?
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos magni quasi temporibus ratione tempora labore alias sunt. Deleniti iusto reprehenderit, reiciendis quis et non necessitatibus eos accusantium, quae tenetur officia ipsam similique autem voluptatibus facilis dignissimos assumenda recusandae veritatis rem unde maxime. Omnis eum similique veritatis suscipit ducimus, corrupti sequi!
    br
    h2.text-xl.font-semibold.py-2 How can it be used?
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quibusdam id voluptatem quis, consequuntur ipsam perspiciatis tempora inventore sequi neque! Ipsum laudantium fuga consectetur ipsam.

block append scripts
  script(src="/javascripts/homePage.js")