extends assets/layout

block append content
  div.container.mx-auto.py-8.px-16.text-center
    h2.text-4xl.font-semibold.py-2(class="dark:font-outline-0b") Register
  div.min-w-fit.max-w-4xl.mt-10.mx-auto.px-24(class='sm:mt-0')
    div(class='md:grid md:grid-cols-2 md:gap-6')
      div.mt-5.border.border-solid.border-zinc-300.border-2.rounded-md(class='md:col-span-2 md:mt-0 dark:border-slate-800')
        form
          include assets/registerForm

block append scripts
  script(src="/javascripts/registerForm.js")