@import url(href="https://fonts googleapis com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .homeHeader {
    @apply w-full mx-auto py-12 text-center text-gray-900 bg-teal-200 border-teal-800 border-dashed border-b-4 duration-500 dark:bg-gray-600 dark:text-slate-100 dark:border-gray-200 hover:bg-teal-300 dark:hover:bg-gray-500
  }
  .homeBtn {
    @apply bg-transparent font-bold text-lg py-2 px-4 border rounded duration-150 hover:text-white hover:border-transparent
  }
  .formModal {
    @apply bg-white overflow-hidden shadow-md text-zinc-700 sm:rounded-md  dark:bg-zinc-600 dark:text-stone-50
  }
  .formField {
    @apply mt-1 block w-full rounded-md shadow-sm h-8 border border-solid border-zinc-300 p-2 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm dark:text-zinc-100 dark:bg-gray-700 dark:border-zinc-700 dark:placeholder-gray-400 dark:focus:ring-emerald-600 dark:focus-visible:border-zinc-400 dark:focus-visible:border-[1pt] dark:focus-visible:outline-gray-800 dark:focus-visible:outline-[1pt]
  }
  .formTextarea {
    @apply block mt-1 p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-md shadow-sm border border-solid border-zinc-300 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:bg-gray-700 dark:border-zinc-700 dark:placeholder-gray-400 dark:text-zinc-100 dark:focus:ring-emerald-600 dark:focus-visible:border-zinc-400 dark:focus-visible:border-[1pt] dark:focus-visible:outline-gray-800 dark:focus-visible:outline-[1pt]
  }
  .formSubmitBtn {
    @apply inline-flex justify-center rounded-md border border-transparent bg-emerald-700 py-2 px-4 text-sm font-bold text-white shadow-sm duration-150 hover:bg-emerald-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:bg-transparent dark:border-emerald-200 dark:text-emerald-200 dark:focus:ring-emerald-600 dark:hover:bg-emerald-700 dark:hover:text-slate-100 dark:hover:border-emerald-300
  }
  .pageContainer {
    @apply flex flex-col w-full m-6
  }
  .pageHeader {
    @apply text-3xl font-bold mb-6
  }
  .sidebar {
    @apply px-3 py-4 box-border border-solid border-r-2 border-slate-300 overflow-y-auto text-zinc-700 bg-stone-300 dark:bg-gray-800 dark:text-slate-200 dark:border-slate-800
  }
  .sidebarItem {
    @apply flex items-center p-2 text-base font-normal rounded-lg bg-slate-200 duration-150 active:translate-y-0.5 active:duration-[0.05s] hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-700
  }
  .sidebarItemBottom {
    @apply flex items-center p-2 mb-2 text-lg font-semibold rounded-lg bg-slate-200 duration-150 active:translate-y-0.5 active:duration-[0.05s]  hover:bg-gray-100 dark:bg-gray-600 dark:hover:bg-gray-700
  }
  .sidebarItemIcon {
    @apply flex-shrink-0 w-6 h-6 text-gray-500 transition duration-150 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-slate-200
  }
  .sidebarItemCounter {
    @apply inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300
  }
  .dbTableContainer {
    @apply overflow-hidden rounded-lg m-5 h-[30rem] overflow-y-auto
  }
  .dbTable {
    @apply w-full border-collapse text-left
  }
  .dbTableHeader {
    @apply sticky top-0
  }
  .dbTableHeaderItem {
    @apply px-6 py-4 w-1_6 font-bold uppercase bg-gray-200 dark:bg-slate-600
  }
  .dbTableBody {
    @apply h-full divide-y divide-zinc-200 border-t border-gray-800 dark:border-gray-100 overflow-y-auto
  }
  .dbTableItem {
    @apply px-6 py-4 overflow-hidden whitespace-nowrap text-ellipsis
  }
  .dbTableBody tr {
    @apply z-40 bg-gray-50 bg-white hover:bg-gray-300 dark:bg-zinc-700 dark:hover:bg-stone-800
  }
}

@layer utilities {
  .font-outline-0 {
    text-shadow: -1px 1px 0 #222,
    1px 1px 0 #222,
    1px -1px 0 #222,
    -1px -1px 0 #222;
  }
  .font-outline-0b {
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  }
  .font-outline-1 {
    text-shadow: -1px 1px 0 #222,
    1px 1px 0 #222,
    1px -1px 0 #222,
    -1px -1px 0 #222;
  }
  .font-outline-1b {
    text-shadow: -1px 1px 2px #222,
    1px 1px 2px #222,
    1px -1px 0 #222,
    -1px -1px 0 #222;
  }
  .font-outline-2 {
    text-shadow: -1px 1px 0 #444,
    1px 1px 0 #444,
    1px -1px 0 #444,
    -1px -1px 0 #444;
  }
  .font-outline-2b {
    text-shadow: -1px 1px 2px #444,
    1px 1px 2px #444,
    1px -1px 0 #444,
    -1px -1px 0 #444;
  }
  .font-outline-9 {
    text-shadow: -1px 1px 0 #efe,
    1px 1px 0 #efe,
    1px -1px 0 #efe,
    -1px -1px 0 #efe;
  }
  .font-outline-9b {
    text-shadow: -1px 1px 2px #efe,
    1px 1px 2px #efe,
    1px -1px 0 #efe,
    -1px -1px 0 #efe;
  }
}