include html
  body
    main.flex.flex-col.min-h-screen
      div.flex.grow
        include aside

        div.flex.w-full.bg-slate-100(class="dark:bg-zinc-800 dark:text-zinc-200")
          block content

      footer.flex.w-full.bg-gray-300.px-1
        div.py-4
          p About Starfinder Tracker. . .
  block scripts