doctype html
html.font-SSPRO(lang="en")
  head
    title="Starfinder Tracker"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/")
      header.w-full.mx-auto.py-12.text-center.bg-teal-100
        h2.text-5xl.font-bold.tracking-tight.text-gray-900
          span.block Starfinder Tracker
        h3.text-lg.font- Welcome to the Starfinder Campaign Tracker!
    block content

    footer.flex.fixed.bottom-0.left-0.w-full.bg-gray-300.px-1
      div.py-4
        p About Starfinder Tracker. . .