include html
  body.min-w-fit.bg-white(class='dark:bg-gray-700 dark:text-slate-200')
    a(href="/")
      header.homeHeader
        h2.text-5xl.font-bold.tracking-tight
          span.block(class="dark:font-outline-0b") Starfinder Tracker
        h3.text-lg.font- Welcome to the Starfinder Campaign Tracker!
    block content

    footer.flex.fixed.bottom-0.left-0.w-full.bg-gray-300.px-1
      div.py-4.text-slate-800
        p About Starfinder Tracker. . .
    block scripts